<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="/TrabalhoUninter/styles/geral.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h2 class="header-container-h2">PRadaelli</h2>
        </div>
        <nav class="nav-bar">
            <ol class="nav-bar-list">
                <li><a href="/TrabalhoUninter/templates/about.html" class="nav-item">Sobre mim</a></li>
                <li><a href="/TrabalhoUninter/templates/education.html" class="nav-item">Formação Acadêmica</a></li>
                <li><a href="/TrabalhoUninter/templates/portifolio.html" class="nav-item">Portifólio</a></li>
                <li><a href="/TrabalhoUninter/templates/contact.html" class="nav-item">Contato</a></li>
            </ol>
        </nav>
    </header>

    <section class="section-about">
        <div class="div-imagem">
            <div class="div-1">
                <div class="div">
                    <h1 class="div-h1">Olá! Sou Patrick Radaelli Desenvolvedor <br>Web</h1>
                </div>
                <div class="div">
                    <p class="div-p">Atualmente, estou aprofundando meus conhecimentos em desenvolvimento web e programação. Estou
                        estudando HTML, CSS e JavaScript para construir e estilizar páginas da web com interfaces
                        interativas e responsivas. Além disso, estou aprendendo Java para desenvolver aplicativos robustos e
                        escaláveis. Com esse conjunto de habilidades, busco criar soluções inovadoras e eficientes para a
                        web e além. Estou entusiasmado com o processo de aprendizado e ansioso para aplicar essas
                        tecnologias em projetos desafiadores.
                    </p>
                </div>
                <div class="div">
                    <button id="button">Saiba mais</button>
                </div>
            </div>
            <img src="/TrabalhoUninter/assets/hacker-phishing-seguridad-cibernetica_980716-2601.jpg" alt="imagem deselvolvimento web">
        </div>
        
    </section>

    <script src="/TrabalhoUninter/scripts/about.js"></script>
    <script src="/TrabalhoUninter/scripts/navbar.js"></script>
</body>

</html>