<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formação Acadêmica</title>
    <link rel="stylesheet" href="/TrabalhoUninter/styles/geral.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h2 class="header-container-h2">PRadaelli</h2>
        </div>
        <nav class="nav-bar">
            <ol class="nav-bar-list">
                <li><a href="/TrabalhoUninter/templates/about.html" class="nav-item">Sobre mim</a></li>
                <li><a href="/TrabalhoUninter/templates/education.html" class="nav-item">Formação Acadêmica</a></li>
                <li><a href="/TrabalhoUninter/templates/portifolio.html" class="nav-item">Portifólio</a></li>
                <li><a href="/TrabalhoUninter/templates/contact.html" class="nav-item">Contato</a></li>
            </ol>
        </nav>
    </header>

    <section>
        <div class="div-education">
            <img src="/TrabalhoUninter/assets/africanamerican-man.jpg"
                alt="Imagem meramente ilustrativa" class="img-education">
            <div class="div-education2">
                <h1 class="education-title">Patrick Fernando de Souza Radaelli</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, vero laudantium. Eveniet commodi
                    blanditiis laboriosam iste magni alias hic ullam aperiam consectetur et rerum distinctio praesentium
                    excepturi illum, ipsam laudantium?
                </p>
            </div>
        </div>
    </section>

    <section>
        <div class="div-button-education">
            <button id="button-education">Formação acadêmica</button>
        </div>
        <div class="div2-education">
            <div class="div-div-education">
                <p class="paragraph-education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, deserunt! Quis sit voluptates quidem
                    fugit, vitae repellendus officiis, cum modi rem optio architecto nemo dolorum quam hic corrupti ratione
                    necessitatibus.
                </p>
            </div>
            <div class="div-div-education">
                <p class="paragraph-education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, deserunt! Quis sit voluptates quidem
                    fugit, vitae repellendus officiis, cum modi rem optio architecto nemo dolorum quam hic corrupti ratione
                    necessitatibus.
                </p>
            </div>
            <div class="div-div-education">
                <p class="paragraph-education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, deserunt! Quis sit voluptates quidem
                    fugit, vitae repellendus officiis, cum modi rem optio architecto nemo dolorum quam hic corrupti ratione
                    necessitatibus.
                </p>
            </div>
        </div>
        
    </section>

    <script src="/TrabalhoUninter/scripts/education.js"></script>
    <script src="/TrabalhoUninter/scripts/navbar.js"></script>
</body>

</html>