<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formação Acadêmica</title>
    <link rel="stylesheet" href="/TrabalhoUninter/styles/geral.css" />
  </head>

  <body>
    <header>
      <div class="header-container">
        <h2 class="header-container-h2">PRadaelli</h2>
      </div>
      <nav class="nav-bar">
        <ol class="nav-bar-list">
          <li>
            <a href="/TrabalhoUninter/templates/about.html" class="nav-item"
              >Sobre mim</a
            >
          </li>
          <li>
            <a href="/TrabalhoUninter/templates/education.html" class="nav-item"
              >Formação Acadêmica</a
            >
          </li>
          <li>
            <a
              href="/TrabalhoUninter/templates/portifolio.html"
              class="nav-item"
              >Portifólio</a
            >
          </li>
          <li>
            <a href="/TrabalhoUninter/templates/contact.html" class="nav-item"
              >Contato</a
            >
          </li>
        </ol>
      </nav>
    </header>

    <section>
      <div class="div-education">
        <img
          src="/TrabalhoUninter/assets/africanamerican-man.jpg"
          alt="Imagem meramente ilustrativa"
          class="img-education"
        />
        <div class="div-education2">
          <h1 class="education-title">Patrick Fernando de Souza Radaelli</h1>
          <p>
            Atualmente, estou cursando Análise e Desenvolvimento de Sistemas,
            aprofundando meus conhecimentos em programação, banco de dados e
            gestão de projetos. Já possuo formação completa em Técnico de
            Informática, onde desenvolvi habilidades práticas em manutenção de
            hardware, redes e suporte ao usuário.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="div-button-education">
        <button id="button-education">Formação acadêmica</button>
      </div>
      <div class="div2-education">
        <div class="div-div-education">
          <div class="education-icon">&#128187;</div>
          <!-- Ícone de computador -->
          <h3>Análise e Desenvolvimento de Sistemas</h3>
          <p class="paragraph-education">
            Explora o desenvolvimento de sistemas, programação, e gestão de
            projetos.
          </p>
        </div>
        <div class="div-div-education">
          <div class="education-icon">&#128295;</div>
          <!-- Ícone de ferramentas -->
          <h3>Técnico de Informática</h3>
          <p class="paragraph-education">
            Focado na manutenção de hardware, redes e suporte ao usuário.
          </p>
        </div>
        <div class="div-div-education">
          <div class="education-icon">&#128218;</div>
          <!-- Ícone de livro -->
          <h3>Outra Formação</h3>
          <p class="paragraph-education">Em prrogresso</p>
        </div>
      </div>
    </section>

    <script src="/TrabalhoUninter/scripts/education.js"></script>
    <script src="/TrabalhoUninter/scripts/navbar.js"></script>
  </body>
</html>
