<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="/TrabalhoUninter/styles/geral.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h2 class="header-container-h2">PRadaelli</h2>
        </div>
        <nav class="nav-bar">
            <ol class="nav-bar-list">
                <li><a href="/TrabalhoUninter/templates/about.html" class="nav-item">Sobre mim</a></li>
                <li><a href="/TrabalhoUninter/templates/education.html" class="nav-item">Formação Acadêmica</a></li>
                <li><a href="/TrabalhoUninter/templates/portifolio.html" class="nav-item">Portifólio</a></li>
                <li><a href="/TrabalhoUninter/templates/contact.html" class="nav-item">Contato</a></li>
            </ol>
        </nav>
    </header>
    <section class="section-portifolio">
        <div class="div-portifolio">
            <h1 class="title-portifolio">Meu Portifólio</h1>
            <img src="/TrabalhoUninter//assets/africanamerican-man.jpg" alt="imagem ilustrativa" class="img-portifolio">
        </div>
        <div class="div-portifolio">
            <ol class="lista-portifolio">
                <li class="lista-lista-portifolio"> 
                    <span>GitHub</span>
                    <img src="/TrabalhoUninter/assets/github-logo-copia.jpg" alt="imagem-github" class="img2-portifolio">
                </li>
                <li class="lista-lista-portifolio">
                    <span>Linkedin</span>
                    <img src="/TrabalhoUninter/assets/linkedin.png" alt="imagem-linkedin" class="img2-portifolio">
                </li>
                <li class="lista-lista-portifolio"> 
                    <span>Instagram</span>
                    <img src="/TrabalhoUninter/assets/insta.png" alt="iamgem-instagram" class="img2-portifolio">
                </li>
            </ol>
        </div>
        
    </section>

    <script src="/TrabalhoUninter/scripts/navbar.js"></script>
    <script src="/TrabalhoUninter/scripts/portifolio.js"></script>
</body>
</html>