.div-education {
    display: flex;
    align-items: center;
    margin-left: 12%;
    margin-right: 20%;
    margin-top: 5%;
}



.img-education {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-right: 5rem;
}

.education-title {
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
    padding: 1.5rem 1.5rem 1.5rem 0;
    line-height: 2rem; /* Ajuste a altura da linha conforme necessário */
    color: var(--primary-color);
}

.div-button-education {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 2rem;
}

.div2-education {
    display: flex;
    
}

.div-div-education {
    opacity: 0;
    transform: translateY(20px) scale(0.95); /* Inicialmente fora da posição e menor */
    transition: opacity 0.5s ease, transform 0.5s ease;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.div-div-education.active {
    opacity: 1; /* Totalmente visível */
    transform: translateY(0) scale(1); /* Posição normal e escala original */
    margin-top: 1rem;
    border: solid 4px var(--primary-color);
    border-radius: 10px;
}

.education-icon {
    font-size: 3rem; /* Tamanho do ícone */
    margin-bottom: 1rem;
    color: var(--primary-color);
}